<% include ../partials/header %>

<!-- <% if(currentUser && currentUser.isAdmin) { %>
  <h1>Your an admin!</h1>
<% } %> -->
<header class="jumbotron">
  <div class="container">
    <h1>Welcome to YelpCamp</h1>
    <p>view our hand-picked campgrounds from all over the world.</p>
    <p>
      <a class="btn btn-primary btn-lrg" href="/campgrounds/new"> new camp</a>
    </p>
  </div>
</header>

<div class="row text-center" style="display:flex; flex-wrap:wrap;">
  <% campgrounds.forEach((camp) => { %>
  <div class="col-md-3 col-md-6">
    <div class="thumbnail">
      <img src="<%= camp.image %>" alt="">
      <div class="caption">
        <h4><%= camp.name %></h4>
      </div>
      <p>
        <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More Info</a>
      </p>
    </div>
  </div>
  <% }); %>
</div>
<br>

<% include ../partials/footer %>